.task5{
    color: white;
}

.m1{
    text-align: center;
    margin-top:10%;
}

.back1{
    padding: 8%;
    background-image: url('https://img.freepik.com/free-vector/background-hexagonal-net-futuristic_23-2148350892.jpg?t=st=1723996074~exp=1723999674~hmac=5feaaf92b55cad6ba19817ff06be282f28ab0b3a194ce8658f9e7eb59a5ed258&w=996');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.back2{
    border-style: double;
    border-color: white;
    border-radius: 10%;
    background-color: rgb(241, 241, 241);
    margin-left: 30%;
    width: 40%;
   
}

.five1{
    width: 100%;
    padding: 3%;
    margin-left: 20%;
    margin-top: 1%;
    background-color: rgb(183, 177, 177);
    color: rgb(68, 66, 66);
}

.five2{
    width: 100%;
    padding: 3%;
    margin-left: 20%;
    margin-top: 1%;
    background-color: rgb(183, 177, 177);
    color: rgb(68, 66, 66);
}

.five3{
    width: 100%;
    margin-left: 20%;
    color: rgb(68, 66, 66);
}

.five4{
    width: 100%;
    padding: 5%;
    margin-left: 20%;
    background-color: rgb(45, 226, 45);
    color: white;
}

.five5{
    width: 100%;
    padding: 3%;
    margin-left: 20%;
    margin-top: 1%;
    text-align: center;
    
    color: rgb(68, 66, 66)
}
    
